%h1 Listing problems

%table
  %tr
    %th Title
    %th Submitter
    %th Difficulty
    %th
    %th
    %th

  - @problems.each do |problem|
    %tr
      %td= link_to problem.title, problem
      %td= problem.submitter.name
      %td= problem.difficulty
      %td= link_to 'Show', problem
      %td= link_to 'Edit', edit_problem_path(problem)
      %td= link_to 'Destroy', problem, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Problem', new_problem_path