%p#notice= notice

%h1
  = @problem.title
%p
  = @problem.description.html_safe
%p
  By:
  = @problem.submitter.name
%p
  %b Estimate:
  = @problem.difficulty

%div#disqus_thread

:javascript
  var disqus_shortname = 'analyticfoundation'; 

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

%noscript Please enable javascript

= link_to 'Edit', edit_problem_path(@problem)
\|
= link_to 'Problems List', problems_path
\|
= link_to 'Home', root_path
