%p#notice= notice

%p
  %b Title:
  = @problem.title
%p
  %b Description:
  = @problem.description.html_safe
%p
  %b Submitter:
  = @problem.submitter.name
%p
  %b Difficulty:
  = @problem.difficulty

= link_to 'Edit', edit_problem_path(@problem)
\|
= link_to 'Problems List', problems_path
\|
= link_to 'Home', root_path
