%p#notice= notice

.main_post
  %span.main_post_top
  %h1
    = @problem.title
  .main_postinfo
    Posted  on
    = @problem.created_at
    in
    = link_to "Radar Problems"
    |
    = @problem.difficulty
  %img.line{:alt => "line", :src => "http://www.elegantthemes.com/preview/DailyNotes/wp-content/themes/DailyNotes/images/line.gif"}
  = @problem.description.html_safe
  %br.clear
  %img.line{:alt => "line", :src => "http://www.elegantthemes.com/preview/DailyNotes/wp-content/themes/DailyNotes/images/line.gif"}
  - if can? :create, Solution
    = link_to "#{current_user.name.titleize}, create a solution", new_problem_solution_url(@problem)
  %span.main_post_bottom

/ SOLUTIONS
- unless @solutions.empty?
  .main_post
    %span.main_post_top2
    %h1 solutions
    %img.line{:alt => "line", :src => "http://www.elegantthemes.com/preview/DailyNotes/wp-content/themes/DailyNotes/images/line.gif"}
    %div#solutions
      - @solutions.each do |s|
        .main_postinfo
          Solution By
          = link_to s.user.name, s.user
          |
          = s.created_at.to_s
        = RedCloth.new(s.description).to_html.html_safe if s.description
        %img.line{:alt => "line", :src => "http://www.elegantthemes.com/preview/DailyNotes/wp-content/themes/DailyNotes/images/line.gif"}
    %br.clear
    %span.main_post_bottom

.main_post
  %span.main_post_top2
  %h3#comments comments
  %img.line{:alt => "line", :src => "http://www.elegantthemes.com/preview/DailyNotes/wp-content/themes/DailyNotes/images/line.gif"}
    %div#disqus_thread
    %br.clear
    %span.main_post_bottom

:javascript
  var disqus_shortname = 'analyticfoundation'; 

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

%noscript Please enable javascript

= link_to 'Edit', edit_problem_path(@problem)
\|
= link_to 'Problems List', problems_path
\|
= link_to 'Home', root_path
