= form_for @solution do |f|
  -if @solution.errors.any?
    #error_explanation
      %h2= "#{pluralize(@solution.errors.count, "error")} prohibited this solution from being saved:"
      %ul
        - @solution.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
