%h1 Listing solutions

%table
  %tr
    %th Description
    %th User
    %th
    %th
    %th

  - @solutions.each do |solution|
    %tr
      %td= solution.description
      %td= solution.user_id
      %td= link_to 'Show', solution
      %td= link_to 'Edit', edit_solution_path(solution)
      %td= link_to 'Destroy', solution, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Solution', new_solution_path
